
<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="{{dish.image}}"
                             alt="{{dish.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                    </h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <h4><strong>Customer Comments</strong>&nbsp;&nbsp; <label class="small text-muted">Sort by:</label><input ng-model="sortCriteria"></h4>
            <blockquote ng-repeat="dishComments in dish.comments | orderBy: sortCriteria">
                <p>{{dishComments.rating}} Stars</p>
                <p>{{dishComments.comment}}</p>
                <footer>{{dishComments.author}}, {{dishComments.date | date}}</footer>
            </blockquote>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <!-- comments live preview starts-->
                <blockquote ng-show="commentForm.$valid && !commentForm.$pristine">
                    <p>{{commentObject.rating}} Stars</p>
                    <p>{{commentObject.comment}}</p>
                    <footer>{{commentObject.author}}</footer>
                </blockquote>
            </ul>
            <!-- ./comments live preview Ends-->

            <form class="form-horizontal" name="commentForm"
                  ng-submit="submitComment()" novalidate>




                <div class="form-group"  ng-class="{ 'has-error' :commentForm.userName.$error.required && !commentForm.userName.$pristine }">
                    <label for="userName" class="col-sm-2 control-label">Your Name </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userName" name="userName" ng-model="commentObject.author" placeholder="Enter Your Name" required>
                        <span ng-show="commentForm.userName.$error.required && !commentForm.userName.$pristine" class="help-block">Your First name is required.</span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="optradio" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline" ng-repeat="ratings in ratingObject"><input type="radio" name="optradio" ng-value="ratings.value"  ng-model="commentObject.rating">{{ratings.label}}</label>

                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' :commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                    <label for="comments" class="col-sm-2 control-label">Your Comments </label>
                    <div class="col-sm-10">
                                <textarea  class="form-control" id="comments" name="comments" ng-model="commentObject.comment" rows = 12 required>
                                </textarea>
                        <span class="help-block" ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine">Comments are required.</span>

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

